.idea/
.vscode/
*.swp
*.swo

*.com
*.class
*.dll
*.exe
*.o
*.so

node_modules/
vendor/

/logs/*
/logs/**/*
*.log
!logs/.gitkeep

/storage/*
/storage/**/*
!storage/.gitkeep

/db/database.sqlite
/db/database.sqlite-journal
/db/database.sqlite-wal
/db/database.sqlite-shm
/db/*.sqlite*

!/db/.gitkeep
!/db/migration/
!/db/migrate.php

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.cache/
.phpunit.result.cache
.phpstan/cache/
.phpstan/resultCache.php
.phpstan
tmp/
temp/

/uploads/

.dockerignore
docker-compose.override.yml

coverage/

composer.phar
composer.lock
*.cache
.sass-cache/