services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cloud
    restart: unless-stopped
    ports:
      - "127.0.0.1:8001:80"
    volumes:
      - .:/var/www
      - ./db:/var/db
      - ./php/php.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ./Caddyfile:/etc/frankenphp/Caddyfile
    #      - caddy_data:/data
    #      - caddy_config:/config
    env_file:
      - .env
    tty: false
    networks:
      - internal
    healthcheck:
      test: [ "CMD", "curl", "-kf", "http://localhost/" ]
      interval: 30s
      timeout: 10s
      retries: 3
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    restart: unless-stopped
    command:
      - rcd
      - --rc-addr=:5572
      - --rc-user=${RCLONE_USER}
      - --rc-pass=${RCLONE_PASS}
      - --config=/config/rclone.conf
      - --cache-dir=/cache
    volumes:
      - rclone_config:/config
      - rclone_cache:/cache
    networks:
      - internal
networks:
  internal:

volumes:
  rclone_config:
  rclone_cache:
#volumes:
#  caddy_data:
#  caddy_config:
