parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        - tests/*
        - vendor/*
    fileExtensions:
        - php
    phpVersion: 80500
    treatPhpDocTypesAsCertain: true
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0
        jobSize: 20
    ignoreErrors:
        - '#Method .*::.*\(\) has no return typehint specified.#'
        - '#Property .* has no typehint specified.#'
        - '#Parameter .* has no typehint specified.#'
        - '#Access to an undefined property.*#'
        - '#Class .* not found.#'

    reportUnmatchedIgnoredErrors: false

    universalObjectCratesClasses:
        - stdClass
        - SimpleXMLElement

    bootstrapFiles:
        - vendor/autoload.php

    scanFiles:
        - vendor/autoload.php

    tmpDir: .phpstan/cache

    checkExplicitMixedMissingReturn: false
    checkFunctionNameCase: false
    checkInternalClassCaseSensitivity: false
    reportMaybesInMethodSignatures: false
    reportMaybesInPropertyPhpDocTypes: false
    reportStaticMethodSignatures: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: false
    checkUninitializedProperties: true
    checkDynamicProperties: false
    rememberPossiblyImpureFunctionValues: true
    checkBenevolentUnionTypes: false
    reportPossiblyNonexistentGeneralArrayOffset: false
    reportPossiblyNonexistentConstantArrayOffset: false
    reportAlwaysTrueInLastCondition: false
    reportWrongPhpDocTypeInVarTag: false
    reportAnyTypeWideningInVarTag: false
    checkMissingOverrideMethodAttribute: false
    checkStrictPrintfPlaceholderTypes: false
    checkMissingCallableSignature: false

    exceptions:
        implicitThrows: false
        uncheckedExceptionRegexes:
            - '#^Exception$#'
            - '#^Error$#'
            - '#^RuntimeException$#'
            - '#^LogicException$#'
        checkedExceptionClasses: []

    tips:
        treatPhpDocTypesAsCertain: false
    tipsOfTheDay: true

    additionalConstructors: []

    polluteScopeWithLoopInitialAssignments: true
    polluteScopeWithAlwaysIterableForeach: true
    polluteScopeWithBlock: true

    inferPrivatePropertyTypeFromConstructor: false

includes:
